{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}<i> SR List </i>{% endblock %}</h1>
<body>
        <table border="1">
          <tr>
            <th scope="col">Num</th>
            <th scope="col">SR Number </th>
            <th scope="col">TSE</th>
            <th scope="col">PR Number</th>
            <th scope="col">Comment</th>
            <th scope="col">Date</th>
     	    <th scope="col">Action</th>
          </tr>
            {% for sr in srs %}
              <tr>
                <td>{{ sr[0] }}</td>
                <td>{{ sr[1] }}</td>
                <td>{{ sr[2] }}</td>
                <td>{{ sr[3] }}</td>
                <td>{{ sr[4] }}</td>
                <td>{{ sr[5] }}</td>
                <td>
                    <b><a href="{{ url_for('modify', id=sr[0]) }}">Modify</a></b>
                    <b><a href="{{ url_for('delete', id=sr[0]) }}">Delete</a></b>
                </td>
              </tr>
            {% endfor %}
        </table>

</body>
{% endblock %}