{% extends 'base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <body>

    <p>This is a test app create by Chang WANG.</p>
    <p>This is another paragraph.</p>
    <p>https://www.digitalocean.com/community/tutorials/how-to-use-a-postgresql-database-in-a-flask-application</p>
    <p>https://www.runoob.com/postgresql/postgresql-data-type.html</p>
    <p>https://flask.palletsprojects.com/en/1.1.x/cli/</p>
    <p>https://www.runoob.com/try/try.php?filename=tryhtml_tables2</p>

    </body>
    </html>
{% endblock %}


