{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New SR {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="sr_number">SR Number</label>
            <input type="text" name="sr_number"
                   placeholder="SR Number">
            </input>
        </p>

        <p>
            <label for="sr_owner">SR Owner</label>
            <input type="text" name="sr_owner"
                   placeholder="SR Owner">
            </input>
        </p>

        <p>
            <label for="pr_number">PR Number</label>
            <input type="text" name="pr_number"
                   placeholder="PR Number" value="999999">
            </input>
        </p>
        <p>
        <label for="sr_comment">Comment</label>
        <br>
        <textarea name="sr_comment"
                  placeholder="Comment"
                  rows="15"
                  cols="60"
                  ></textarea>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}